/.Module.symvers.cmd
/.modules.order.cmd
/.producer_consumer.ko.cmd
/.producer_consumer.mod.cmd
/.producer_consumer.mod.o.cmd
/.producer_consumer.o.cmd
/.vscode
/Makefile
/Module.symvers
/modules.order
/process_gen
/producer_consumer.ko
/producer_consumer.mod
/producer_consumer.mod.c
/producer_consumer.mod.o
/producer_consumer.o
/ps_time.sh
/test.sh
/.producer_consumer.o.d